*,html,body {
    padding: 0;
    margin: 0;
}

body {
    background: whitesmoke;
}
.background {
    background: deepskyblue;
    color: black;
    box-shadow: 0.1rem 0.1rem 0.2rem  .001rem darkslateblue;
}

#primary {
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.3rem;
    font-family: Verdana, sans-serif;
}

.btn {
    margin: 10px;
    border: none;
    padding: 10px;
    background: darkslateblue;
    color: whitesmoke;
}

input{
    padding: 20px;
    border: none;
    background: whitesmoke;
    font-size: 2rem;
}

.container {
    margin: 0 auto;
    width: 1180px;
}